
<div class="nav">
    
      <a routerLink="/main" class="nav-link">Home</a>
      
   
  </div>
 
    <div class="container">
        <div class="card">
            <img src="assets/f1.jpeg" alt="Hills">
            <h2>FRANK Estate</h2>
            <p>Beautiful mountain landscapes with breathtaking views and cool climate.</p>
            <ul>
                <li>Kitchen: 2</li>
                <li>Bedrooms: 3</li>
                <li>Price: $6000</li>
            </ul>
        </div>

        <div class="card">
            <img src="assets/f2.jpeg" alt="Sea">
            <h2>ABDU Estate</h2>
            <p>Relaxing Forest hside with crystal-clear waters and golden sands.</p>
            <ul>
                <li>Beachfront Access</li>
                <li>Balcony View</li>
                <li>Price: $8000</li>
            </ul>
        </div>

        <div class="card">
            <img src="assets/f3.jpeg" alt="Urban City">
            <h2>Forest City Estate</h2>
            <p>Modern city life with skyscrapers, nightlife, and advanced infrastructure.</p>
            <ul>
                <li>High-speed Internet</li>
                <li>Smart Home System</li>
                <li>Price: $10,000</li>
            </ul>
        </div>

        <div class="card">
            <img src="assets/f4.jpeg" alt="Forest">
            <h2>Dense Estate</h2>
            <p>Lush green forests filled with diverse flora and fauna.</p>
            <ul>
                <li>Eco-Friendly Home</li>
                <li>Wildlife Nearby</li>
                <li>Price: $7000</li>
            </ul>
        </div>

        <div class="card">
            <img src="assets/f5.jpeg" alt="Desert">
            <h2>Safari Estate</h2>
            <p>Vast golden dunes witjeep rides and stunning sunset views.</p>
            <ul>
                <li>Traditional Tent House</li>
                <li>Campfire & BBQ</li>
                <li>Price: $5000</li>
            </ul>
        </div>

        <div class="card">
            <img src="assets/f6.jpeg" alt="Village">
            <h2>AB Estate</h2>
            <p>Peaceful countryside living with fresh air and natural beauty.</p>
            <ul>
                <li>Farm & Garden</li>
                <li>Quiet Environment</li>
                <li>Price: $4000</li>
            </ul>
        </div>
    </div>