 <div class="head">
    <h1>Air Estate Tour</h1>
  </div>
  <hr>
  <nav>
  <a routerLink="/hill" class="nav-link">Hill </a>
  <a routerLink="/forest" class="nav-link">Forest</a>
  <a routerLink="/sea" class="nav-link">sea</a>
  <a routerLink="/form" class="nav-link">Form</a>

</nav>

  <div class="aret">
    The areas you are looking for
  </div>

  <div class="container">
    <figure><a routerLink="/hill">
      <img src="assets/hills.jpeg" alt="Hills">
      <figcaption>Hills</figcaption></a>
    </figure>
    <figure><a routerLink="/sea">
      <img src="assets/sea.jpg" alt="Sea">
      <figcaption>Sea</figcaption></a>
    </figure>
   
    
      <figure><a routerLink="/forest">
        <img src="assets/forest1.jpg" alt="Forest">
        <figcaption>Forest</figcaption></a>
      </figure>
    
  </div>